<!--Написать функцию, которая будет выводить на экран HTML страницу с блоками новостей.-->
<!--Каждый блок должен содержать заголовок новости, краткое описание и дату публикации.-->
<!--Данные о новостях должны быть переданы в шаблон через контекст.-->


{% extends 'base.html' %}

{% block title %}
{{ super() }} - {{ title }}
{% endblock %}

{% block content %}

<h1 style="text-align: center; padding-top: 5px;padding-bottom: 5px;">
    {% for line in page_title %}
    {{ line }} <br>
    {% endfor %}
</h1>

<p class="text-info">{{ task_text }}</p>
<div class="row" style="padding-top: 20px;">
    {% for item in lst_news %}
    <div class="col-12 col-md-6 col-lg-4">
        <h2 style="text-align: center; padding-top: 5px;padding-bottom: 5px;"> {{ item.news }} </h2>
        <p style="text-align: right;">{{ item.date_public }}</p>
        <img src={{ item.image}} class="col-12 col-md-6 img-fluid rounded-circle" alt="Рисунок"
             style="display: block; margin-left: auto;    margin-right: auto;">
        <p style="margin-bottom: 8rem; text-align: justify;">{{ item.txt }}</p>
    </div>
    {% endfor %}

</div>

{% endblock %}