{% extends 'base.html' %}

{% block title %}
{{ super() }} - {{ title }}
{% endblock %}

{% block content %}
<ul class="nav nav-pills justify-content-end align-items-end">
    <li class="nav-item"><a href="/about/"
                            class="nav-link">О нас</a></li>
    <li class="nav-item"><a href="/contacts/"
                            class="nav-link">Контакты</a></li>
</ul>
<h1 style="text-align: center; padding-top: 5px;padding-bottom: 5px;">
    {% for line in page_title %}
    {{ line }} <br>
    {% endfor %}
</h1>

<p class="text-info" style="font-size: xx-large; text-align: justify; padding-block: 1em;">{{ task_text }}</p>


{% endblock %}